<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Trip Info Page</title>
</head>

<body>

<h4>At <%= link_to "IPTA", users_home_path %>, we value transparency. Have a look at the details of this journey.</h4>
<br>
<br>
<br>
    <h2>View the Trip Information </h2>
    <p>Trip Cargo Type:
        <%= @trip.description %>
    </p>
    <p>Trip Origin:
        <%= @trip.origin%>
    </p>
    <p>Trip Destination:
        <%= @trip.destination%>
    </p>
    <p>Total Trip Distance:
        <%= @trip.distance%>
    </p>
    <p>Number of Seats:
        <%= @trip.seats%>
    </p>
    <p>Trip Cost:
        <%= @trip.cost%>
    </p>
    <p>Total Trip Distance:
        <%= @trip.distance%>
    </p>
    <p>Booked by:
        <%= @trip.user.fname%>
            <%= @trip.user.lname %>
    </p>
    <p>Journey Last Updated:
        <%= @trip.updated_at.strftime("%B %d, %Y") %>
    </p>
    <div id="delete_button">
      <%= button_to "Delete", trip_path(@trip), method: :delete %>
        <!--<form action="/trips/<%= @trip.id%>" method="DELETE">
            <input type="submit" name="" value="Terminate this Trip">
        </form>-->
    </div>
    <h2>Current Trip Vehicle Info</h2>
    <% if @trip.ships && @trip.ships.length > 0 %>
        <p>Number of Ships assigned to this Trip:  <%= @trip.ships.length %></p>
        <%  @trip.ships.each do |tripship| %>
            <p>Vehicle Name:
                <%= tripship.veh_name %>
            </p>
            <p>Curent Ship Location:
                <%= tripship.veh_location %>
            </p>
            <p>Vehicle Capacity:
                <%= tripship.seats %>
            </p>
            <p>Ship Picture:
                <% if tripship.avatar.url %>
                <%= image_tag tripship.avatar.url, class: "shipPic" %>
                <% end %>
            </p>

            <p>Ship Owner:
                <%= tripship.user.fname %> <%= tripship.user.lname %>
            </p>
            <p>Contact owner for more info: <%= tripship.user.email %></p>
            <% end %>
                <% else %>
                   <p>Choose a ship</p>
                       <%= form_for ShipTrip.new do |f| %>
                       <%= collection_select(:ship_trip, :ship_id, Ship.all, :id, :veh_name) %>
                       <%= hidden_field_tag '[ship_trip]trip_id', @trip.id%>
                    <%=f.submit "Submit" %>
                    <% end %>

                    <% end %>
                        <h4> <%= link_to "See All Ships", "/ships/feed" %> </h4>
                        <h4><%= link_to "Your Profile", "/users/home" %> </h4>
                        <h4><%= link_to "All Trips", "/trips/feed" %></h4>
                        <h4><%= link_to "Edit this Trip", trips_edit_path(@trip) %></h4>
</body>

</html>
