<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>User Homepage</title>
</head>
<body>
	<h1>Welcome, <%= current_user.fname %></h1>

	<p></p>


<!-- // current person logged in -->
	<% if @current_user %>
	    <h2><%= @current_user.fname %>'s Ships Feed</h2>

	    <% @current_user.ships.each do |ship|%>

<!-- //this is all of users ships -->
	      <div id="allships">
	          <h4>Ship Name: <%= ship.veh_name%></h4>
	          <p><%= ship.veh_location%></p>
	          <p>It has <%= ship.seats%> seats</p>

						<div id="delete_button">
	          		<form class="" action="/ships/<%= ship.id%>" method="DELETE">
	                 <input type="submit" name="" value="Delete ships">
	          		</form>
						</div>

						<div id="edit_button">
	          		<button onclick="location.href='/ships/<%= ship.id %>/edit'" id="edit">Edit Ship</button>
						</div>

	      </div>

	    <% end %>
	<% end %>

<!--
//form to create a ship on the "user profile homepage"
//this form will pop up as a modal on user profile page -->

	<form class="" action="/ships_edit/<%=@ship.id%>" method="post">
	    <input type="hidden" name="_method" value="PUT">

	    <input type="text" name="[create]veh_name" value="<%= @ship.veh_name %>">

	    <select name="[create]veh_location">
	        <option value="Venus">Venus</option>
	        <option value="Earth">Earth</option>
	        <option value="Moon">Moon</option>
	        <option value="Mars">Mars</option>
	        <option value="Ceres">Ceres</option>
	    </select>

	    <select name="[create]seats">
	        <option value="6">6</option>
	        <option value="10">10</option>
	        <option value="12">12</option>
	    </select>

	    <input type="hidden" name="[update]user_id" value="<%= @current_user.id %>">
	    <input type="submit" name="" value="submit">
	</form>


	<!-- this is the feed for your trips  -->
	<!-- //current person logged in -->
	<% if @current_user %>
	    <h2><%= @current_user.fname %>'s Trips Feed</h2>

	    <h2><% @current_user.trip.each do |trip|%></h2>

	<!-- //all of the users trips -->
	      <div id="alltrips">
	          <p><%= @current_user.fname %> is transporting <%= trip.driscription%></p>
	            <p>It is starting at <%= trip.origin%></p>
	            <p>And going to <%= trip.destination%></p>
	            <p>Total distance: <%= trip.distance%> million miles.</p>
	            <p><%= trip.seats%> seats</p>
	            <p>Total cost: <%= trip.cost%></p>

	          <form class="" action="/trips/<%= trip.id%>" method="DELETE">
	                 <input type="submit" name="" value="Delete trips">
	          </form>

	          <button onclick="location.href='/trips/<%= trip.id %>'" id="edit">Edit Trip</button>

	      </div>

	    <% end %>
	<% end %>


	<!-- //form to create a trip for "trip feed" page -->

	<form class="" action="/trips_edit/<%=@user.id%>" method="post">
	    <input type="hidden" name="_method" value="PUT">

	    <select name="[create]description">
	        <option value="passenger">passenger</option>
	        <option value="freight">freight</option>
	    </select>

	    <select name="[create]origin">
	        <option value="Venus">Venus</option>
	        <option value="Earth">Earth</option>
	        <option value="Moon">Moon</option>
	        <option value="Mars">Mars</option>
	        <option value="Ceres">Ceres</option>
	    </select>

	    <select name="[create]destination">
	        <option value="Earth">Earth</option>
	        <option value="Moon">Moon</option>
	        <option value="Mars">Mars</option>
	        <option value="Ceres">Ceres</option>
	        <option value="Europa">Europa</option>
	    </select>

	<!-- // put in distance output??? -->
	    <p>Total distance: <%= trip.distance%> million miles.</p>


	    <select name="[create]seats">
	        <option value="6">6</option>
	        <option value="10">10</option>
	        <option value="12">12</option>
	    </select>

	<!-- // put in cost output??? -->
	    <p>Total cost: <%= trip.cost%></p>

	<!-- //submit that attaches to user id -->
	    <input type="hidden" name="[update]user_id" value="<%= @current_user.id %>">
	    <input type="submit" name="" value="submit">
	</form>

</body>
</html>
