<style type="text/css">
    .container{
        position: absolute;
        top: 100px;
    }
</style>
<div class="container">
<h1>Update your Spaceship's Information</h1>

<!--
//form to edit a ship from "ship profile" page
//picks the ship from ship.id -->
<form class="" enctype="multipart/form-data" action="/ships/<%=@ship.id%>" method="POST">
    <input type="hidden" name="_method" value="PUT">

<!-- //change vehicle name -->
    <input type="text" name="[update]veh_name" value="<%= @ship.veh_name %>">

<!-- //drop down menus for location and seats -->
    <select name="[update]veh_location">
        <option value="Venus">Venus</option>
        <option value="Earth">Earth</option>
        <option value="Moon">Moon</option>
        <option value="Mars">Mars</option>
        <option value="Ceres">Ceres</option>
    </select>

    <select name="[update]seats">
        <option value="6">6</option>
        <option value="10">10</option>
        <option value="12">12</option>
    </select>

    <input type="file" name="[update]avatar" id="ship_avatar">
  <p>Your Ship: </p>


<% if @ship.avatar.url == nil%>
    <%= image_tag "elon.jpg" %>
    <% else %>
    <%= image_tag @ship.avatar.url %>
<% end %>
  

<!-- //subit button that attaches it to current user id -->
    
    <input type="submit" name="" value="submit">

</form>
<%= button_to "Delete", ship_path(@ship), method: :delete %>

<!-- //delete ship -->

</div>
