<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ship Name</title>
</head>
<body>

<p>Ship Name: <%= @ship.veh_name %></p>
       

<p>Your Ship: </p> <% if @ship.avatar.url == nil%>
	<%= image_tag "/images/elon.jpg" %>
	<% else %>
	<%= image_tag @ship.avatar.url %>
<% end %>

       <p>Ship's Location:<%= @ship.veh_location%></p>

          <p>Number of seats: <%= @ship.seats%> </p>

	<p>Lasted Edited:<%= @ship.updated_at.strftime("%B %d, %Y") %> </p>
<div id="delete_button">
              <form  action="/ships/<%= @ship.id%>" method="DELETE">
                 <input type="submit" name="" value="Delete ship">
              </form>
          </div>
	<h2>Related Trip Info</h2>
	<% if @ship.trips && @ship.trips.length > 0 %>
 <%	 @ship.trips.each do |shiptrip| %>


	<p>Trip Description: <%= shiptrip.description %> </p>
	<p>Trip Origin:<%= shiptrip.origin %> </p>
	<p>Trip Destination: <%= shiptrip.destination %> </p>
	<p>Trip Distance:<%= shiptrip.distance %> </p>
	<p>Trip Cost:<%= shiptrip.cost %> </p>
	<p>Trip Updated At:<%= shiptrip.updated_at %> </p>
	<p>Trip Users: <%= shiptrip.user.fname %> </p>
 <% end %>
 <% else %>
 <p>You have no trips. Want to add a trip?</p>
 <% end %>



          




<h4> <%= link_to "See All Ships", "/ships/feed" %> </h4>
<h4><%= link_to "Your Profile", "/users/home" %> </h4>
<h4><%= link_to "All Trips", "/trips/feed" %></h4>



<h4><%= link_to "Edit this Ship", ships_edit_path(@ship) %></h4>


</body>
</html>
