<!DOCTYPE html>
<html>
  <head>
    <title>IPTA</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <!--start header-->
    <div id="header_div">
      <nav>
        <h1 id="name_h1">IST</h1>
        <img id="a_pic" src="/assets/letterA.png" style ="width:70px;">
        <p id="home_p"><a href ="/">HOME</a></p>
        <p id="careers_p"><a href ="http://www.spacex.com/careers">CAREERS</a></p>
        <p id="service_p"><a href ="http://www.spacex.com/about/capabilities">SERVICES</a></p>
        <p id="gallery_p"><a href ="http://www.spacex.com/galleries">GALLERY</a></p>
      </nav>
    </div>
    <!--end header-->
  </body>
</html>
